In [2]:
import pandas as pd

In [3]:
df = pd.read_csv( 'kc_house_data.csv' )
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [4]:
df['date'] = pd.to_datetime( df['date'] )

### 1. Quantas casas estão disponíveis para compra?
R: 21613

In [5]:
df.shape[0]

21613

### 2. Quantos atributos as casas possuem? (número de quartos, garagens, m2, vista pro mar)
R: 21

In [6]:
df.shape[1]

21

### 3. Quais são os atributos?
R: 'id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'

In [7]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

### 4. Qual a casa mais cara do portfólio ( casa com maior valor )?
R:
___
index | id | price
--- | --- | ---
7252 | 6762700020 | 7700000.0

In [8]:
df[['id', 'price']].sort_values( by='price', ascending=False ).head(2)

              id      price
7252  6762700020  7700000.0
3914  9808700762  7062500.0

### 5. Qual a casa com o maior número de quartos?
R: 
___
index | id | bedrooms
 --- | --- | ---
15870 | 2402100895 | 33

In [9]:
df[['id', 'bedrooms']].sort_values( by='bedrooms', ascending=False ).head(2)

               id  bedrooms
15870  2402100895        33
8757   1773100755        11

### 6. Qual a soma total de quartos do conjunto de dados?
R: A soma do total de quartos é 72854.

In [10]:
df['bedrooms'].sum()

72854

### 7. Quantas casas possuem 2 banheiros?
R: 1930 casa possuem 2 banheiros.

In [11]:
df[df['bathrooms'] == 2]['bathrooms'].value_counts()

2.0    1930
Name: bathrooms, dtype: int64

### 8. Qual o preço médio de todas as casas no conjunto de dados?
R: O prço médio de todas as casa é 540.088,14.

In [12]:
df['price'].mean()

540088.1417665294

### 9. Qual o preço médio de casas com 2 banheiros?
R: O preço médio das casas com 2 banheiros é 457.889,72.

In [13]:
df[df['bathrooms'] == 2]['price'].mean().round(2)

457889.72

### 10. Qual o preço mínimo entre as casas com 3 quartos?
R: O menor preço para casa com 3 quartos é 82.000,00.

In [14]:
df[df['bedrooms'] == 3]['price'].min()

82000.0

### 11. Quantas casas possuem mais de 300 metros quadrados na sala de estar?
R:

In [17]:
df['m2_living'] = df['sqft_living']/10.764

In [21]:
df[df['m2_living'] > 300]['id'].count()

2258

### 12. Quantas casas tem mais de 2 andares?
R:

In [22]:
df[df['floors'] > 2]['id'].count()

782

### 13. Quantas casas tem vista para o mar?
R:

In [24]:
df[df['waterfront'] == 1]['id'].count()

163

### 14. Das casas com vista para o mar, quantas tem 3 quartos?
R:

In [25]:
df[( df['waterfront'] == 1 ) & ( df['bedrooms'] == 3)]['id'].count()

64

### 15. Das casas com mais de 300 metros quadrados de sala de estar, quantas tem mais de 2 banheiros?
R:

In [26]:
df[( df['m2_living'] > 300 ) & ( df['bathrooms'] > 2 )]['id'].count()

2201